{% extends 'base.html.twig' %}

{% block title %}Politique de Confidentialité{% endblock %}

{% block body %}
<div class="flex flex-col w-full max-w-full min-h-screen">
    <section class="flex items-center justify-center bg-all-page bg-footer-text lg:bg-contain bg-fill bg-right-top bg-w-full relative">
        <h2 class="text-matcha-accent font-bold lg:text-4xl text-2xl text-center lg:my-12 my-6">Politique de Confidentialité</h2>
    </section>
    <section class="lg:mx-24 mx-5 my-6 gap-5 lg:py-5 py-2">
        <h3 class="text-pink-watermelon font-bold lg:text-xl text-lg my-5">1. Préambule</h3>
        <p class="text-text lg:text-xl text-lg leading-relaxed"> 
            Le site Matcha Bloom est un projet fictif créé à des fins de démonstration. Aucune donnée personnelle réelle n'est collectée ou exploitée.
        </p>

        <h3 class="text-pink-watermelon font-bold lg:text-xl text-lg my-5">2. Collecte des données personnelles</h3>
        <p class="text-text lg:text-xl text-lg leading-relaxed">  
            Dans le cadre de la navigation sur ce site fictif, certaines informations peuvent être collectées à des fins de simulation (exemple : formulaire de contact). 
            Aucune information personnelle ne sera stockée ni exploitée en dehors de cet usage fic
        </p>

        <h3 class="text-pink-watermelon font-bold lg:text-xl text-lg my-5">3. Droits des utilisateurs</h3>
        <p class="text-text lg:text-xl text-lg leading-relaxed"> 
            Conformément au RGPD, tout utilisateur fictif aurait le droit d'accéder, de rectifier ou de supprimer ses données. 
            Cependant, étant donné la nature fictive du site, ces données ne sont pas réellement enregistrées.
        </p>

        <h3 class="text-pink-watermelon font-bold lg:text-xl text-lg my-5">4. Contact</h3>
        <p class="text-text lg:text-xl text-lg leading-relaxed"> 
            Pour toute question relative à la présente politique de confidentialité, merci de nous contacter à l'adresse suivante : contact@matchabloom-fictif.com (adresse fictive).
        </p>
    </section>
</div>
{% endblock %}
