{% extends 'base.html.twig' %}

{% block title %}Politique des Cookies{% endblock %}

{% block body %}
<div class="flex flex-col w-full max-w-full min-h-screen">
    <section class="flex items-center justify-center bg-all-page bg-footer-text lg:bg-contain bg-fill bg-right-top bg-w-full relative">
        <h2 class="text-matcha-accent font-bold lg:text-4xl text-2xl text-center lg:my-12 my-6">Politique des Cookies</h2>
    </section>
    <section class="lg:mx-24 mx-5 my-6 gap-5 lg:py-5 py-2">
        <h3 class="text-pink-watermelon font-bold lg:text-xl text-lg my-5">1. Définition des cookies</h3>
        <p class="text-text lg:text-xl text-lg leading-relaxed"> 
            Un cookie est un petit fichier texte déposé sur votre appareil lors de la visite d'un site web. Sur ce site fictif, nous utilisons des cookies uniquement à des fins de démonstration.
        </p>

        <h3 class="text-pink-watermelon font-bold lg:text-xl text-lg my-5">2. Types de cookies utilisés</h3>
        <ul class="text-text lg:text-xl text-lg leading-relaxed">  
        Les cookies sur ce site fictif peuvent inclure :

            <li>Cookies de fonctionnement : Permettant d'assurer le bon affichage du site. </li>
            <li>Cookies de session : Utilisés pour la navigation sur le site.</li>
            <li>Cookies de préférences : Permettant de mémoriser vos préférences de navigation.</li>
            <li>Cookies de sécurité : Utilisés pour garantir la sécurité du site.</li>
            <li>Cookies analytiques : Servant uniquement à la démonstration d'un suivi fictif du trafic.</li>
        </ul>

        <h3 class="text-pink-watermelon font-bold lg:text-xl text-lg my-5">3. Gestion des cookies</h3>
        <p class="text-text lg:text-xl text-lg leading-relaxed"> 
            Les visiteurs fictifs peuvent configurer leurs navigateurs pour bloquer les cookies. 
            Cependant, cela n'aura aucun impact réel sur ce site, étant donné son caractère fictif
        </p>
    </section>
</div>
{% endblock %}
