{% extends 'base.html.twig' %}

{% block title %}Mentions Légales{% endblock %}

{% block body %}
<section class="lg:mx-24 mx-5 my-6 gap-5 lg:py-10 py-5">
    <h2 class="text-matcha-accent font-bold lg:text-4xl text-2xl text-center lg:mb-12 mb-6">Mentions Légales</h2>

    <h3 class="text-pink-watermelon font-bold lg:text-xl text-lg my-5">1. Présentation du site</h3>
    <p class="text-text lg:text-xl text-lg leading-relaxed"> 
        Le présent site internet est édité par :
        Nom du salon de thé : Matcha Bloom
        Statut juridique : Entreprise Fictive
        Siège social : 1 rue des Matcha, 75000 Matcha (Adresse Fictive)
        Numéro d'immatriculation : ENtreprise fictive
        Directeur de la publication : Site fictif réalisé par Jessica Troilo
    </p>

    <h3 class="text-pink-watermelon font-bold lg:text-xl text-lg my-5">2. Hébergement du site</h3>
    <p class="text-text lg:text-xl text-lg leading-relaxed">  
        Nom de l'hébergeur : Code présent sur Github
        Adresse : Aucune
        Contact : Aucun
    </p>

    <h3 class="text-pink-watermelon font-bold lg:text-xl text-lg my-5">3. Propriété intellectuelle</h3>
    <p class="text-text lg:text-xl text-lg leading-relaxed"> 
        L'ensemble des contenus présents sur le site (textes, images, graphismes, logo, etc.) sont la propriété exclusive de Matcha Bloom ou de tiers ayant autorisé leur utilisation. 
        Toute reproduction, distribution ou utilisation sans autorisation préalable est interdite.
    </p>

    <h3 class="text-pink-watermelon font-bold lg:text-xl text-lg my-5">4. Protection des données personnelles</h3>
    <p class="text-text lg:text-xl text-lg leading-relaxed"> 
        Les informations recueillies via les formulaires du site sont destinées exclusivement à Matcha Bloom pour traiter les demandes des utilisateurs. 
        Conformément au Règlement Général sur la Protection des Données (RGPD), vous disposez d'un droit d'accès, de rectification et de suppression de vos données personnelles. 
        Pour toute demande, veuillez nous contacter à (email de contact).
    </p>

    <h3 class="text-pink-watermelon font-bold lg:text-xl text-lg my-5">5. Cookies</h3>
    <p class="text-text lg:text-xl text-lg leading-relaxed"> 
        Le site peut utiliser des cookies afin d'améliorer l'expérience utilisateur et des services de statistiques anonymes. 
        Vous pouvez configurer votre navigateur pour bloquer ces cookies si vous le souhaitez.
    </p>

    <h3 class="text-pink-watermelon font-bold lg:text-xl text-lg my-5">6. Responsabilité</h3>
    <p class="text-text lg:text-xl text-lg leading-relaxed"> 
        Matcha Bloom s'efforce de fournir des informations exactes et mises à jour sur son site. 
        Cependant, nous ne pouvons garantir l'absence d'erreurs ou d'omissions. 
        L'utilisation du site se fait sous votre seule responsabilité.
    </p>


    <h3 class="text-pink-watermelon font-bold lg:text-xl text-lg my-5">7. Droit applicable</h3>
    <p class="text-text lg:text-xl text-lg leading-relaxed"> 
        Les présentes mentions légales sont soumises au droit français. 
        En cas de litige, les tribunaux compétents seront ceux du ressort du siège social de Matcha Bloom
    </p>

    <h3 class="text-pink-watermelon font-bold lg:text-xl text-lg my-5">8. Contact</h3>
    <p class="text-text lg:text-xl text-lg leading-relaxed"> 
        Pour toute question concernant ces mentions légales, vous pouvez nous contacter à : (email/contact)
    </p>

    <h3 class="text-pink-watermelon font-bold lg:text-xl text-lg my-5">9. Nature fictive du site</h3>
    <p class="text-text lg:text-xl text-lg leading-relaxed"> 
        Ce site est un projet fictif créé à des fins de démonstration et d'entraînement. Les informations présentées (produits, services, contacts) sont purement imaginaires et ne correspondent à aucune entreprise réelle.
    </p>



{% endblock %}
